---
layout: page
description: "博客页面"
---


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}



<!--新增留言-->
        <div id="message-form" class="ui form">
            <input type="hidden" name="parentMessage.id" value="-1">
            <input type="hidden" id="win1_lei" name="window.name" value="unknown">
            <input type="hidden" id="win2_lei" name="browser.name" value="unknown">
            <!--留言区-->
            <div class="field">
                <textarea name="content" placeholder="请输入留言信息..."></textarea>
            </div>
            <div class="ui grid">
                <!--输入姓名-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="昵称"
                                   th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                </div>

                <!--输入邮箱-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱 (请填写有效的邮箱)"
                                   th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                </div>

                <div class="right aligned six wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <button id="messagepost-btn" type="button" class="ui teal button m-mobile-wide"><i
                                class="edit icon"></i>发布
                        </button>
                    </div>
                </div>
            </div>
        </div>
<script>
    var info = new Browser();
    currentTimeHtml1 = ' ' + info.os + ' ' + info.osVersion + ' ';
    currentTimeHtml2 = ' ' + info.browser + info.version + ' ';
    document.getElementById("win1_lei").value = currentTimeHtml1;
    document.getElementById("win2_lei").value = currentTimeHtml2;
</script>
/评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });
$('#messagepost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });
//发送请求给后端
    function postData() {
        $("#message-container").load(/*[[@{/messages}]]*/"", {
            "parentMessage.id": $("[name='parentMessage.id']").val(),
            // "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val(),
            "windowName": $("[name='window.name']").val(),
            "browserName": $("[name='browser.name']").val()
        }, function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#message-container'),500);
            clearContent();
        });
    }
//新增留言
    @PostMapping("/message")
    public String post(Message message, HttpSession session, Model model){
        User user = (User) session.getAttribute("user");
        //设置头像
        if(user != null){
            message.setAvatar(user.getAvatar());
            message.setAdminMessage(true);
        } else {
            message.setAvatar(avatar);
        }
        if(message.getParentMessage().getId()!=null){
            message.setParentMessageId(message.getParentMessage().getId());
        }

        //System.out.println(message);
        messageService.saveMessage(message);
        List<Message>  messages = messageService.listMessage();
        model.addAttribute("messages",messages);
        return "message :: messageList";
    }
            <div class="ui bottom attached m-margin-top">
            <div id="message-container" class="ui teal segment">
                <div th:fragment="messageList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">留言</h3>
                        <div class="comment" th:each="message : ${messages}">
                            <a class="avatar">
                                <img src="../static/images/me.jpg" th:src="@{${message.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${message.nickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini"
                                         th:if="${message.adminMessage}">栈主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                </div>
                                <div class="" aria-hidden="true" style="">
                                    <span th:text="${message.windowName}"
                                          style="background-color: #f0eff3; color: #888888; border-radius: 10%">&nbsp; Windows10 &nbsp;</span>&nbsp;
                                    <span th:text="${message.browserName}"
                                          style="background-color: #f0eff3; color: #888888; border-radius: 10%">&nbsp; Chrome 97.0.4692.71 &nbsp;</span>
                                </div>
                                <div class="text" th:text="${message.content}">太赞了！</div>
                                <div class="actions">
                                    <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                       th:attr="data-messageid=${message.id},data-messagenickname=${message.nickname}"
                                       onclick="reply(this)">回复</a>
                                    <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${message.id})}"
                                       onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                </div>
                            </div>
                            <!--子集留言-->
                            <div class="comments" th:if="${#arrays.length(message.replyMessages)}>0">
                                <div class="comment" th:each="reply : ${message.replyMessages}">
                                    <a class="avatar">
                                        <img src="../static/images/me.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini"
                                                 th:if="${reply.adminMessage}">栈主
                                            </div>
                                            &nbsp;<span th:text="|@ ${reply.parentNickname}|" class="m-teal">@ 小白</span>
                                        </a>

                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="" aria-hidden="true" style="">
                                            <span th:text="${reply.windowName}"
                                                  style="background-color: #f0eff3; color: #888888; border-radius: 10%">&nbsp; Windows10 &nbsp;</span>&nbsp;
                                            <span th:text="${reply.browserName}"
                                                  style="background-color: #f0eff3; color: #888888; border-radius: 10%">&nbsp; Chrome 97.0.4692.71 &nbsp;</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！</div>
                                        <div class="actions">
                                            <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                               th:attr="data-messageid=${reply.id},data-messagenickname=${reply.nickname}"
                                               onclick="reply(this)">回复</a>
                                            <a class="delete" href="#"
                                               th:href="@{/messages/{id}/delete(id=${reply.id})}"
                                               onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')"
                                               th:if="${session.user}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
            // 初始化加载
    $(function () {
        $("#message-container").load(/*[[@{/messagecomment}]]*/"messagecomment");
    });
            //查询留言
    @GetMapping("/messagecomment")
    public String messages(Model model) {
        List<Message> messages = messageService.listMessage();
        model.addAttribute("messages", messages);
        return "message::messageList";
    }
            function reply(obj) {
        var messageId = $(obj).data('messageid');
        var messageNickname = $(obj).data('messagenickname');
        $("[name='content']").attr("placeholder", "@" + messageNickname).focus();
        $("[name='parentMessage.id']").val(messageId);
        $(window).scrollTo(0, 500);
    }
